html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 40px 80px;
}

h1 {
    font-size: clamp(3rem, 10vw, 6rem);
    font-weight: 900;
    margin: 0;
}


h2 {
    font-size: clamp(2rem, 6vw, 4rem);
    font-weight: 900;
    margin: 0;
}

p,
a,
li {
    font-size: clamp(1rem, 2vw, 2rem);
    font-weight: 400;
    text-decoration: none;
    color: #1e1e20;
    margin: 0;
}

.hej {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    border: solid 2px #000;
    border-radius: 25px;
    padding: 40px;
    gap: 3rem;
    margin-bottom: 4rem;
    background-color: lightgreen;
}

.hej h1 {
    width: fit-content;
    white-space: nowrap;
    color: rgb(2, 63, 2);
}

.hejbody p {
    color: rgb(2, 63, 2);

}

.opgave {
    align-items: center;
    border: solid 2px #000;
    padding: 40px;
    border-radius: 25px;
    gap: 3rem;
    background-color: lightblue;

}

.opgave h1,
.opgave h2 {
    text-decoration: underline;
    margin: 25px 0;
    color: darkblue;
}

.opgave p,
.opgave li {
    color: darkblue;

}