body {
    margin: 0;
    padding: 40px 80px;
}

h1 {
    font-size: 96px;
    font-weight: 900;
    margin: 0;
}


h2 {
    font-size: 72px;
    font-weight: 900;
    margin: 0;
}

p,
a,
li {
    font-size: 36px;
    font-weight: 400;
    text-decoration: none;
    margin: 0;
}

.hej {
    align-items: center;
    text-align: center;
    border: solid 5px #000;
    border-radius: 50px;
    padding: 40px;
    gap: 40px;
    margin-bottom: 80px;
    background-color: lightgreen;
}

.hej h1 {
    width: fit-content;
    white-space: nowrap;
    color: rgb(2, 63, 2);
}

.hejbody p {
    color: darkblue;

}

.opgave {
    align-items: center;
    border: solid 5px #000;
    padding: 80px;
    border-radius: 50px;
    gap: 40px;
    background-color: lightblue;

}

.opgave h1,
.opgave h2 {
    text-decoration: underline;
    margin: 40px 0;
    color: darkblue;
}

.opgave p,
.opgave li {
    color: darkblue;

}